@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bangers&family=Oswald:wght@200..700&display=swap');

body {
    background-color: #111111;
    padding: 0px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

h1 {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: white;
    margin: 0;
}

nav {
    display: flex;
    gap: 3rem;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.4rem;
    font-style: normal;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background-color: #007EFF;
    transition: width 0.3s ease;
}

.nav-link.active::after {
    width: 100%;
}

.nav-link:hover {
    transition: color 0.4s ease;
    color: #64aff9;
}