@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bangers&family=Oswald:wght@200..700&display=swap');

body {
    background-color: #111111;
    padding: 0px 40px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

h1 {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: white;
    margin: 0;
}

h2 {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    margin: 0 0 20px 0;
    width: fit-content;
}

h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #007EFF;
}

h3 {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: white;
    margin: 0;
    width: fit-content;
}

h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #64aff9;
}

p {
    color: white;
    font-size: 1.3rem;
    font-family: "Oswald", sans-serif;
}

a {
    color: #007EFF;
    font-size: 1.25rem;
    word-break: break-word;
}

nav {
    display: flex;
    gap: 3rem;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.4rem;
    font-style: normal;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background-color: #007EFF;
    transition: width 0.3s ease;
}

.nav-link.active::after {
    width: 100%;
}

.nav-link:hover {
    transition: color 0.4s ease;
    color: #64aff9;
}
.citation {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: start;
}
.user-container {
    display: flex;
    justify-content: space-around;
}
.user-subcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(67, 66, 66, 0.5);
    padding: 2rem 2rem 1rem 2rem;
    width: 28%;
    border-radius: 1rem;
}
.bullet-point {
    width: 2rem;
    height: 2rem;
    margin: 21px 21px 0 0;
}
.resources-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #007EFF;
    padding: 2rem;
    margin-bottom: 1rem;
}
.resources-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resources-card {
    position: relative;
    padding: 1rem 2rem 0 2rem;
    margin-bottom: 2rem;
    width: 40%;
}

.resources-card::before,
.resources-card::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 50%;
}

.resources-card::before {
    bottom: 0px;
    left: 0px;
    border-left: 2px solid #64aff9;
    border-bottom: 2px solid #64aff9;
}

.resources-card::after {
    top: 0px;
    right: 0px;
    border-top: 2px solid #64aff9;
    border-right: 2px solid #64aff9;
}

.resources-card-inner::before,
.resources-card-inner::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 30%;
}

.resources-card-inner::before {
    top: 0px;
    left: 0px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.resources-card-inner::after {
    bottom: 0px;
    right: 0px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}